/.quarto/
**/*.quarto_ipynb
/Website Profiles to replicate structure.docx
/Mariia Petryk_CV_202504.pdf
/stats_291_syllabus_pm.pdf
/stats_291_syllabus_pm.docx
/student_1_feedback.jpeg
/Academic_CV_Pedro.pdf
/WEBSITE_PLAN.md
